<% const base = `/dashboard/${req.params.api}`; %> <% const dateOptions = { weekday: 'short', year: 'numeric', month:
'long', day: 'numeric', hour12: false, hour: 'numeric', minute: 'numeric', second: 'numeric'}; %>

<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: `Users - ${req.data.api.name} API` }) %>

  <body>
    <!-- Header -->
    <%- include('layout-header-api') -%>

    <main class="container">
      <section>
        <header>
          <h2>Users authenticated</h2>
          <aside>
            <a href="/TODO" class="button button-primary">Connect button</a>
          </aside>
        </header>

        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Auth ID</th>
                <th>Setup ID</th>
                <th>Scopes</th>
                <th class="col-date">Last modified</th>
                <th class="col-date">Creation date</th>
                <th class="col-actions"></th>
              </tr>
            </thead>
            <tbody>
              <% data.authentications.forEach(function(auth){ %>
              <tr>
                <td class="ellipsis"><span><%= auth.auth_id %></span></td>
                <td class="ellipsis"><span><%= auth.setup_id %></span></td>
                <td></td>
                <td class="col-date"><%= new Date(auth.created_at).toLocaleString('en-US', dateOptions) %></td>
                <td class="col-date"><%= new Date(auth.updated_at).toLocaleString('en-US', dateOptions) %></td>
                <td class="col-actions">
                  <a data-icon="view" href="./<%= auth.auth_id %>" alt="View">View</a>
                  <a data-icon="delete" href="#delete" alt="Delete">Delete</a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="pagination">
          <% const startAt = Number(req.query.startAt) || 0; const limit = 25; %>
          <a href="?startAt=<%= (startAt - limit) > 0 ? (startAt - limit) : 0 %>" class="button">Prev</a>
          <a href="?startAt=<%= startAt > 0 ? (startAt + limit) : limit %>" class="button">Next</a>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include('layout-footer') -%>
  </body>
</html>
