<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: `Connect to ${req.data.integration.name}` }) %>

  <body>
    <!-- Header -->
    <%- include('layout-header-api') -%>

    <main class="container">
      <section>
        <h2>Connect to <%= req.data.integration.name %></h2>
        <form>
          <fieldset>
            <label>Callback URL</label>
            <input
              type="text"
              class="form-input"
              value="<%= process.env.AUTH_CALLBACK_URL || `${req.protocol}://${req.get('host')}/auth/callback` %>"
            />
            <p class="form-hint">Note: you might need to register this callback URL first.</p>
          </fieldset>
          <fieldset>
            <label>Auth ID</label>
            <input disabled="disabled" type="text" class="form-input" id="authId" />
          </fieldset>
          <div class="form-actions">
            <button type="submit" class="button button-primary">Connect to <%= req.data.integration.name %></button>
            <a class="button" href="javascript:history.back()">Cancel</a>
            <p id="status"></p>
          </div>
        </form>
      </section>
    </main>

    <!-- Footer -->
    <%- include('layout-footer') -%>

    <script src="https://cdn.jsdelivr.net/npm/pizzly-js@latest/dist/index.umd.min.js"></script>
    <script>
      document.forms[0].addEventListener('submit', e => {
        e.preventDefault()

        const pizzly = new Pizzly('<%= process.env.PUBLISHABLE_KEY %>')

        pizzly
          .connect('<%= req.params.integration %>')
          .then(({ authId }) => {
            const input = document.getElementById('authId')
            input.value = authId
            input.removeAttribute('disabled')

            setStatus('Connected! <a href="<%= req.ejs.base_url %>/request?authId=' + authId + '">Try it now</a>')
          })
          .catch(err => {
            setStatus('It failed.')
            console.error(err)
          })
      })

      function setStatus(status) {
        document.getElementById('status').innerHTML = status
      }
    </script>
  </body>
</html>
