<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: `Authentications - ${req.data.integration.name} API` }) %>

  <body>
    <!-- Header -->
    <%- include('layout-header-api') -%>

    <main class="container">
      <section>
        <header>
          <h2>Authentications</h2>
          <aside>
            <a href="<%= req.ejs.base_url %>/authentications/connect" class="button button-primary"
              >Connect to <%= req.data.integration.name %></a
            >
          </aside>
        </header>

        <%- include('api-authentications-list', { req }) %>

        <div class="pagination">
          <% const startAt = Number(req.query.startAt) || 0; const limit = 25; %>
          <a href="?startAt=<%= (startAt - limit) > 0 ? (startAt - limit) : 0 %>" class="button">Prev</a>
          <a href="?startAt=<%= startAt > 0 ? (startAt + limit) : limit %>" class="button">Next</a>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include('layout-footer') -%>
  </body>
</html>
