<div class="table">
  <table>
    <thead>
      <tr>
        <th>Setup ID</th>
        <th><%= req.data.integration.auth.setupKeyLabel %></th>
        <th><%= req.data.integration.auth.setupSecretLabel %></th>
        <th class="col-center">Scopes</th>
        <th class="col-date">Creation date</th>
        <th class="col-actions"></th>
      </tr>
    </thead>
    <tbody>
      <% req.data.configurations.forEach(function(configuration){ %>
      <tr
        data-item-integration="<%= req.data.integration.id %>"
        data-item-type="configuration"
        data-item-id="<%= configuration.setupId %>"
      >
        <td><%= configuration.setupId %></td>
        <td class="col-ellipsis"><%= configuration.setupKey %></td>
        <td><%= '*'.repeat(15) + (configuration.setupSecret || '').slice(-5) %></td>
        <td class="col-center"><%= configuration.scopes.length %></td>
        <td class="col-date">
          <%= configuration.created_at.toLocaleString('en-US', req.ejs.dateOptions) %>
        </td>
        <td class="col-actions">
          <a data-icon="edit" href="<%= `${req.ejs.base_url}/configurations/${configuration.setupId}` %>" title="Edit"
            >Edit</a
          >
          <a data-icon="delete" href="#delete" onclick="removeItem(event)" title="Delete">Delete</a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
