<% const base = `/dashboard/${req.params.api}`; %>
<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: `New configuration - ${req.data.integration.name} API`}) %>

  <body>
    <!-- Header -->
    <%- include('layout-header-api') -%>

    <main class="container">
      <section>
        <header>
          <h2>New configuration</h2>
        </header>

        <form method="POST">
          <fieldset>
            <label for="setupKey"><%= req.data.integration.auth.setupKeyLabel %></label>
            <input id="setupKey" type="text" class="form-input" name="setupKey" required />
          </fieldset>

          <fieldset>
            <label for="setupSecret"><%= req.data.integration.auth.setupSecretLabel %></label>
            <input id="setupSecret" type="password" class="form-input" name="setupSecret" required />
          </fieldset>

          <fieldset>
            <label for="scopes">Scopes</label>
            <textarea
              id="scopes"
              class="form-input"
              rows="8"
              name="scopes"
              placeholder="Add one scope per line."
            ></textarea>
            <div class="form-hint">
              Tip: If needed, here's the callback URL to use:
              <pre><%= process.env.AUTH_CALLBACK_URL || `${req.protocol}://${req.get('host')}/auth/callback` %></pre>
            </div>
          </fieldset>

          <div class="form-actions">
            <button class="button button-primary" type="submit">Save</button>
            <a class="button" href="javascript:history.back()">Cancel</a>
          </div>
        </form>
      </section>
    </main>

    <!-- Footer -->
    <%- include('layout-footer') -%>
  </body>
</html>
