<% const base = `/dashboard/${req.params.api}`; %>
<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: `New credentials - ${req.data.api.name} API`}) %>

  <body>
    <!-- Header -->
    <%- include('layout-header-api') -%>

    <main class="container">
      <section>
        <header>
          <h2>New credentials</h2>
        </header>

        <form method="POST">
          <fieldset>
            <label for="setupKey"><%= req.data.api.config.setupKeyLabel %></label>
            <input
              id="setupKey"
              type="text"
              class="form-input"
              name="setupKey"
              value="<%= req.data.credential.setupKey %>"
              required
            />
          </fieldset>

          <fieldset>
            <label for="setupSecret"><%= req.data.api.config.setupSecretLabel %></label>
            <input
              id="setupSecret"
              type="password"
              class="form-input"
              name="setupSecret"
              value="<%= req.data.credential.setupSecret %>"
              required
            />
          </fieldset>

          <fieldset>
            <label for="scopes">Scopes</label>
            <textarea id="scopes" class="form-input" rows="8" name="scopes">
<%= req.data.credential.scopes.join('\n') %></textarea
            >
          </fieldset>

          <div class="form-actions">
            <button class="button button-primary" type="submit">Update</button>
            <a class="button" href="javascript:history.back()">Cancel</a>
          </div>
        </form>
      </section>
    </main>

    <!-- Footer -->
    <%- include('layout-footer') -%>
  </body>
</html>
