<div class="table">
  <table>
    <thead>
      <tr>
        <th>Setup ID</th>
        <th><%= req.data.api.config.setupKeyLabel %></th>
        <th><%= req.data.api.config.setupSecretLabel %></th>
        <th class="col-center">Scopes</th>
        <th class="col-date">Creation date</th>
        <th class="col-actions"></th>
      </tr>
    </thead>
    <tbody>
      <% req.data.credentials.forEach(function(credential){ %>
      <tr
        data-item-integration="<%= req.data.api.id %>"
        data-item-type="credential"
        data-item-id="<%= credential.setupId %>"
      >
        <td><%= credential.setupId %></td>
        <td><%= credential.setupKey %></td>
        <td><%= '*'.repeat(15) %></td>
        <td class="col-center"><%= credential.scopes.length %></td>
        <td class="col-date">
          <%= credential.created_at.toLocaleString('en-US', req.ejs.dateOptions) %>
        </td>
        <td class="col-actions">
          <a data-icon="edit" href="<%= `${req.ejs.base_url}/credentials/${credential.setupId}` %>" title="Edit"
            >Edit</a
          >
          <a data-icon="delete" href="#delete" onclick="removeItem(event)" title="Delete">Delete</a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
