<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: `${req.data.api.name} API`}) %>

  <body>
    <!-- Header -->
    <%- include('layout-header-api') -%>

    <main class="container">
      <section>
        <header>
          <h2>Credentials saved</h2>
          <aside>
            <a href="<%= req.ejs.base_url %>/credentials/new" class="button button-primary">Save new credentials</a>
          </aside>
        </header>

        <!-- Credentials shortlist (table) -->
        <%- include('api-credentials-list', { req }) %>
        <!-- /Credentials shortlist (table) -->

        <!-- Credentials empty state -->
        <% if (!req.data.credentials.length) {%>
        <div class="table-empty">
          <h3>No credentials yet</h3>
          <a href="<%= req.ejs.base_url %>/credentials/new" class="button button-primary">
            Save your first credentials
          </a>
        </div>
        <!-- /Credentials empty state -->

        <!-- Credentials pagination (see more) -->
        <% } else if (req.data.credentials.length > 5) { %>
        <div class="pagination">
          <a href="<%= req.ejs.base_url %>/credentials" class="button">See more</a>
        </div>
        <% } %>
        <!-- /Credentials pagination (see more) -->
      </section>

      <% if (req.data.credentials.length) { %>
      <section>
        <header>
          <h2 class="section-heading">Authenticated users</h2>
          <aside>
            <a href="https://github.com/Bearer/Pizzly/wiki/TODO" class="button button-primary">Add a connect button</a>
          </aside>
        </header>

        <!-- Authentications shortlist (table) -->
        <%- include('api-authentications-list', { req }) %>
        <!-- /Authentications shortlist (table) -->

        <div class="pagination">
          <a href="<%= req.ejs.base_url %>/authentications" class="button">See more</a>
        </div>
      </section>
      <% } %>
    </main>

    <!-- Footer -->
    <%- include('layout-footer') -%>
  </body>
</html>
