<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: `${req.data.integration.name} API`}) %>

  <body>
    <!-- Header -->
    <%- include('layout-header-api') -%>

    <main class="container">
      <section>
        <header>
          <h2>Configurations saved</h2>
          <aside>
            <a href="<%= req.ejs.base_url %>/configurations/new" class="button button-primary">New configuration</a>
          </aside>
        </header>

        <!-- Configurations shortlist (table) -->
        <%- include('api-configurations-list', { req }) %>
        <!-- /Configurations shortlist (table) -->

        <!-- Configurations empty state -->
        <% if (!req.data.configurations.length) {%>
        <div class="table-empty">
          <h3>No configurations yet</h3>
          <a href="<%= req.ejs.base_url %>/configurations/new" class="button button-primary">
            Create your first configuration
          </a>
        </div>
        <!-- /Configurations empty state -->

        <!-- Configurations pagination (see more) -->
        <% } else if (req.data.configurations.length > 4) { %>
        <div class="pagination">
          <a href="<%= req.ejs.base_url %>/configurations" class="button">See more</a>
        </div>
        <% } %>
        <!-- /Configurations pagination (see more) -->
      </section>

      <% if (req.data.configurations.length) { %>
      <section>
        <header>
          <h2 class="section-heading">Authenticated users</h2>
          <aside>
            <a href="<%= req.ejs.base_url %>/authentications/connect" class="button button-primary"
              >Connect to <%= req.data.integration.name %></a
            >
          </aside>
        </header>

        <!-- Authentications shortlist (table) -->
        <%- include('api-authentications-list', { req }) %>
        <!-- /Authentications shortlist (table) -->

        <div class="pagination">
          <a href="<%= req.ejs.base_url %>/authentications" class="button">See more</a>
        </div>
      </section>
      <% } %>
    </main>

    <!-- Footer -->
    <%- include('layout-footer') -%>
  </body>
</html>
