<!DOCTYPE html>
<html>
  <%- include('layout-head') %>
  <body>
    <!-- Header -->
    <%- include('layout-header', { req }); %>

    <main class="container">
      <section>
        <h2 class="section-heading">Enabled API</h2>
        <ul class="api-list">
          <li>
            <a href="/dashboard/all">
              <figure>
                <div><img alt="Add a new API" src="/assets/img/icons/add-24px.svg" /></div>
                <figcaption>Add a new API</figcaption>
              </figure>
            </a>
          </li>
          <% req.data.enabled.forEach(function(api){ %>
          <li>
            <a href="/dashboard/<%= api.id %>">
              <figure>
                <div>
                  <% if (api.image) { %> <img loading="lazy" alt="<%= api.name.substr('"', '\"') %> logo" src="<%=
                  api.image %>" /><% }%>
                </div>
                <figcaption><%= api.name %></figcaption>
              </figure>
            </a>
          </li>
          <% }); %>
        </ul>
      </section>
    </main>

    <!-- Logos attribution -->
    <div class="container sosumi">
      <p>
        APIs logos are courtesy of <a href="https://clearbit.com">Clearbit</a> or provided by
        <a href="https://commons.wikimedia.org/wiki/Commons:Reusing_content_outside_Wikimedia"
          >Wikimedia's individual creators</a
        >.
      </p>
    </div>

    <!-- Footer -->
    <%- include('layout-footer') -%>
  </body>
</html>
