<!DOCTYPE html>
<html>
  <%- include('layout-head', { title: "All APIs"}) %>
  <body>
    <!-- Header -->
    <%- include('layout-header'); %>

    <main class="container">
      <section>
        <h2 class="section-heading">Enabled API</h2>
        <ul class="api-list">
          <% data.apis.forEach(function(api){ %>
          <li>
            <a href="/dashboard/<%= api.id %>">
              <figure>
                <div>
                  <% if (api.img) { %> <img alt="<%= api.name.substr('"', '\"') %>" src="<%= api.name %> logo" /><% }%>
                </div>
                <figcaption><%= api.name %></figcaption>
              </figure>
            </a>
          </li>
          <% }); %>
        </ul>
      </section>
    </main>

    <!-- Footer -->
    <%- include('layout-footer') -%>
  </body>
</html>
