<% const base = req.ejs.base_url; const active = req.path.split('/')[2] || ""; %>

<header>
  <div class="container">
    <a href="/dashboard/"><img src="/assets/img/logos/pizzly.png" class="logo" alt="Pizzly"/></a>

    <h1><a href="/dashboard/">Pizzly</a> <span class="separator">/</span> <%= req.data.integration.name %></h1>

    <nav>
      <ol>
        <li class="<%= active === '' ? 'active' : '' %>"><a href="<%= base %>/">Overview</a></li>
        <li class="<%= active === 'configurations' ? 'active' : '' %>">
          <a href="<%= base %>/configurations">Configurations</a>
        </li>
        <li class="<%= active === 'authentications' ? 'active' : '' %>">
          <a href="<%= base %>/authentications">Authentications</a>
        </li>
        <li class="<%= active === 'request' ? 'active' : '' %>">
          <a href="<%= base %>/request">Request</a>
        </li>
      </ol>
    </nav>
  </div>
</header>
